[Unit]
Description=Drain Nomad node on shutdown
Before=shutdown.target
After=nomad.service

[Service]
ExecStart=/usr/bin/nomad node-drain -disable -self
ExecStop=/usr/bin/nomad-node-drain
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
