[Unit]
Description=Nomad Agent
After=network.target

[Service]
TimeoutStartSec=0
ExecStartPre=/usr/bin/nomad-config-ip
ExecStart=/usr/bin/nomad agent -config=/etc/nomad.d

[Install]
WantedBy=multi-user.target
